
apiVersion: 1

groups:
  - orgId: 1
    name: Infra Alerts
    folder: Observabilidade
    interval: 60s
    rules:
      - uid: host_high_cpu
        title: Host CPU acima de 85%
        condition: A
        data:
          - refId: A
            datasourceUid: Prometheus
            queryType: timeSeriesQuery
            relativeTimeRange:
              from: 300
              to: 0
            model:
              expr: 100 - (avg by(instance)(irate(node_cpu_seconds_total{mode="idle"}[5m])) * 100)
              legendFormat: instance
              intervalMs: 1000
              maxDataPoints: 43200
        noDataState: NoData
        execErrState: Error
        for: 5m
        labels:
          severity: critical

      - uid: container_restarts
        title: Containers reiniciando
        condition: A
        data:
          - refId: A
            datasourceUid: Prometheus
            queryType: timeSeriesQuery
            relativeTimeRange:
              from: 900
              to: 0
            model:
              expr: changes(container_start_time_seconds[10m]) > 0
              legendFormat: container
              intervalMs: 1000
              maxDataPoints: 43200
        noDataState: NoData
        execErrState: Error
        for: 1m
        labels:
          severity: info
